@charset "UTF-8";
*{margin:0;padding:0;}
body{font-weight:200;font-size:15px;}
div,section,nav,article,footer,header{display:block;}
input,
select,
button,
textarea{font-family:inherit;box-sizing:border-box;}
input,
select,
button,
textarea,
img{vertical-align:middle;}
fieldset{border:none;}
legend{display:none;}
ul,
li{list-style:none;}
img{border:none;max-width:100%;}
a{text-decoration:none;color:inherit;}

/* public */
.container{width:1200px;margin:0 auto;}

/* site header */
.site-header{border-bottom:1px solid #ddd;}
.site-header>.container{height:60px;line-height:60px;}
.site-header .logo{font-size:25px;text-align:center;}
.site-header .logo a{display:block;color:#09F;}
.site-header .top{background:#f5f5f5;border-bottom:1px solid #ddd;}
.site-header .util{display:flex;justify-content:flex-end;line-height:20px;}
.site-header .util a{font-size:13px;margin-left:15px;}
.gnb{border-top:1px dotted #ddd;}
.gnb ul{display:flex;justify-content:center;}
.gnb a{display:block;color:#666;padding:15px 40px;font-size:19px;}
.gnb a.active,
.gnb a:hover{color:#09F;}

/* site footer */
.site-footer{text-align:center;background:#444;color:#fff;text-align:center;line-height:80px;}

/* content */
.content-wrap{padding:100px 0;}
.content-title{font-size:35px;text-align:center;margin-bottom:40px;font-weight:200;}
.content-title:after{content:"";display:block;clear:both;margin:20px auto 0;width:50px;height:1px;background:#ddd;}

/* login */
.login{width:600px;margin:0 auto;}

/* board */
.board td a:hover{color:#09F;}
.board tbody td:nth-child(2){text-align:left;}

/* comment */
.comment h4{font-size:19px;font-weight:normal;margin-bottom:20px;}
.comment ul{border-top:1px solid #ddd;}
.comment li{padding:20px;border-bottom:1px solid #ddd;}
.comment .writer{font-size:15px;font-weight:normal;}
.comment .date{font-size:13px;color:#aaa;}
.comment .text{margin:10px 0;font-size:13px;}
.comment-write p+p{margin-top:10px;}

/* admin */
.menu-admin{width:700px;margin:0 auto;}
.board-admin{width:800px;margin:0 auto;}
.member-admin{width:1000px;margin:0 auto;}

/* Button */
a.btn{text-decoration:none;text-align:center;}
.btn{border:none;padding:7px 15px;vertical-align:middle;font-size:15px;font-family:inherit;color:#FFF;transition:.3s;vertical-align:middle;cursor:pointer;display:inline-block;box-sizing:border-box;transition:0.3s;}
.btn.full{display:block;text-align:center;width:100%;box-sizing:border-box;padding:10px 0;font-size:17px;font-weight:400;}
.btn.mini{padding:3px 7px;font-size:13px;}
.btn.big{font-size:19px;padding:15px 30px;}
.btn.white{border:1px solid #fff;}
.btn.white:hover{background:#fff;color:#444;}
.btn.main{background:#09F;}
.btn.sub{background:#666;}
.btn-group{text-align:center;padding:40px 0;}
.btn-group.left{text-align:left;}
.btn-group.right{text-align:right;}
.btn-group.btm{padding-bottom:0;}

/* layer */
.layer{display:none;position:fixed;left:0;right:0;top:0;bottom:0;text-align:center;background:rgba(0,0,0,0.3);overflow:auto;z-index:100;}
.layer-title{padding:0 10px;line-height:40px;margin:-20px -20px 20px;font-size:17px;background:#75bbc5;color:#fff;}
.layer:target{display:block;}
.layer > div{background:#FFF;padding:20px;margin:20px;position:relative;text-align:left;}
.layer > div > a.close{color:#FFF;background:#09F;display:flex;width:40px;height:40px;align-items:center;justify-content:center;font-size:17px;position:absolute;right:0;top:0;text-decoration:none;opacity:.7;transition:.3s;}
.layer > div > a.close:hover{opacity:1;}

/* middle */
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;}
span.middle + *{display:inline-block;vertical-align:middle;}

/* fields */
.fields{position:relative;}
.fields .comment{position:absolute;right:0;top:0;}
.fields ul{border-top:2px solid #09F;}
.fields li{display:flex;border-bottom:1px solid #ddd;align-items:center;}
.fields .lbl{width:25%;box-sizing:border-box;padding:15px 30px;font-size:19px;font-weight:bold;}
.fields .desc{width:75%;padding:15px;}
.input{border:1px solid #ddd;padding:10px;box-sizing:border-box;}
.input.full{width:100%;}
.custom-checkbox{display:inline-block;cursor:pointer;}
.custom-checkbox span{display:block;padding:5px 10px;transition:0.5s;border:1px solid #ddd;font-size:15px;background:#fff;vertical-align:middle;color:#666;margin-bottom:3px;}
.custom-checkbox input{display:none;}
.custom-checkbox input:checked + span,
.custom-checkbox:hover span{background:#09F;border-color:#09F;color:#fff;}

/* table */
.table-wrap table{width:100%;border-top:2px solid #666;border-spacing:0;border-collapse:collapse;}
.table-wrap td,
.table-wrap th{border-bottom:1px solid #bebebe;line-height:30px;padding:10px;font-size:17px;text-align:center;}
.table-wrap th{background:#f5f5f5;}

/* tab-menu */
.tab-menu{text-align:center;margin-bottom:40px;}
.tab-menu ul{display:inline-block;}
.tab-menu ul:after{content:"";display:block;clear:both;}
.tab-menu li{float:left;}
.tab-menu a{display:block;padding:10px 10px;margin:0 20px;font-size:18px;background:#fff;margin-left:-1px;transition:.3s;position:relative;}
.tab-menu a:after{content:"";position:absolute;bottom:0;left:50%;right:50%;display:block;height:2px;background:#09F;transition:0.3s;}
.tab-menu a.active,
.tab-menu a:hover{color:#09F;}
.tab-menu a.active:after,
.tab-menu a:hover:after{left:0;right:0;}